/* Error: Can't find stylesheet to import.
 *    ,
 * 49 | @import "variables";          // code from variables.scss will be transpiled and placed here
 *    |         ^^^^^^^^^^^
 *    '
 *   SASS.scss 49:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 49 \2502  @import \"variables\";          // code from variables.scss will be transpiled and placed here\d\a    \2502          ^^^^^^^^^^^\a    \2575 \a   SASS.scss 49:9  root stylesheet";
}
